<div class="container">
  <div class="row">
    <div class="col lead">
      <p>英語問題集</p>
    </div>
  </div>
</div>
<div *ngFor="let eigoMondai of eigoMondaiSet" class="container mb-2">
  <div class="row">
    <div class="col lead">
      {{eigoMondai.no}}: {{eigoMondai.english}}
    </div>
  </div>
  <div class="row">
    <div class="col small">
      訳: {{eigoMondai.japanese}}
    </div>
  </div>
  <div class="row">
    <div class="col small">
      ノート: {{eigoMondai.note}}
    </div>
  </div>     
</div>