<div class="container">
  <div class="row">
    <div class="col lead">
      <p>英語問題集</p>
    </div>
  </div>
</div>
<div *ngFor="let eigoMondai of eigoMondaiSet" class="container mb-2">
  <div class="row">
    <div class="col lead">
      <strong>{{eigoMondai.no}}. </strong> {{eigoMondai.english}}
    </div>
  </div>
  <div class="row">
    <div class="col small">
        <strong>訳:</strong> {{eigoMondai.japanese}}
    </div>
  </div>
  <div class="row">
    <div class="col small">
        <strong>ノート:</strong> {{eigoMondai.note}}
    </div>
  </div>     
</div>
<div class="container fixed-bottom mb-3 text-center">
  <div class="raw">
      <button *ngIf="pageNo > 1" (click)="goBack()" class="mr-3">Back</button>
      <button *ngIf="pageNo < numOfMondaiSet/numOfMondaiPerPage" (click)="goNext()">Next</button>
  </div>
</div>